*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(5.jpg);
    background-size:cover;
    font-family: sans-serif;
}
.menu_bar{
    background-color: rgb(22,22,22);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .2s;
}
.menu_bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu_bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu_bar ul li a {
    text-decoration: none;
    color: white;
}
.active,.menu_bar ul li:hover{
    background-color: gray;
    margin: 15px;
    padding: 15px;
    border-radius: 3px;
}

.sub_menu1{
    display: none;

}
.menu_bar ul li:hover .sub_menu1{
    display: block;
    position: absolute;
    background-color: rgb(22,22,22);
    margin-top: 15px;
    margin-left: -15px;
}
.menu_bar ul li:hover .sub_menu1 ul{
    display: block;
    margin: 10px;
    margin-left: -30px;
}
.menu_bar ul li:hover .sub_menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: left;
}
.menu_bar ul li:hover .sub_menu1 ul li:last-child{
    border-bottom: none;
}
.menu_bar ul li:hover .sub_menu1 ul li a:hover{
    color: gray;
}
.sub_menu2{
    display: none;
}
.hover-me:hover .sub_menu2{
    position:absolute;
    display: block;
    margin-top: -40px;
    margin-left: 165px;
    background-color: rgb(22,22,22);
}
@media (max-width: 600px) {
    .menu_bar ul{
        display: inline-block;
        width: auto;
        
    }
    .menu_bar{
        width: 300px;
        justify-content: center;
        background-color: rgb(22,22,22);
        align-items: center;
    }
}


.div1{
    background-color: red;
    width: 100vw;
    display: inline-block;
    height: 100vh;
    opacity: 1;
    transform: translateY(-30px);
}
.div1v{
    height: 300px;
    margin-top: 1000px;
    margin-bottom: 1000px;
    opacity: 1;
    transform: translateY(0);
    transition: .3s;
}
.page1{
    width: 100vw;
    height: 100vh;
    background-image:url(5.jpg) ;
    background-size: cover;
    display: block;
    justify-content: center;
    align-items: center;
}
input[type="search"] {
    background-color: transparent;
    width: 30%;
    height: 50px;
    margin-top: 200px;
    border-radius: 5px;
    padding-left: 20px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    border: #222 1px solid;
}
input[type="search"]:hover{
    background-color: rgb(22,22,22);
    color: #fff;
    transition: .3s;
}
.page2{
    color:white;
    width: 100vw;
    height: auto;
    background-color: rgba(11, 11, 11, 1) ;
}
span{
    float: left;
    font-weight: small;
    color: black;
    background-color: rgba(100, 100, 100, .3);
    padding: 20px;
    padding-top:-80px;
    font-size:180px;
    display: block;
    font-family:cursive;
    margin: 0 0 0 50px;

}
.as{
    display: block;
    background-color: rgba(100, 100, 100, .3);
    padding: 100px;
}
.up2{
    list-style: none;
    display: flex;
    justify-content: center;

}
.up2 li{
    width: auto;
    padding: 15px;
    margin: 20px;
}
.up2 li:hover{
    background-color: #fff;
    color: rgb(22,22,22);
    transition: .3s;
}
.ip1{
    border-bottom: solid 3px #fff;
    font-weight: bold;
}
.hea2{
    text-align: center;
    display: inline;
    justify-content: center;
}
.selc{
    margin-top: 35px;
    width: 150px;
    margin-left: 40px;
    float: left;
    position: absolute;
}
select{
    width: 150px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-bottom: 5px;
    background-color: transparent;
    color: white;
}
option{color: #222;}
.grille{
    padding-top: 30px;
    padding-bottom: 60px;
    max-width: 1350px;
    width: 85%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,400px);
    justify-content: center;
    grid-gap: 10px;
}
.grid-item{
    width: 400px;
    height: 280px;
    background-color: gray;
}

img{
    width: 400px;
    height: 280px;
}
footer{
    background-color: #222;
    color: #fff;
    width: 100vw;
    height: 50px;
    margin-top: -50px;
    text-align: center;
}
svg{
    width: 16px;
    height: 16px;
    float: right;
}
.bi-search1{
    background-color: red;
}